# Ignore cache folder, we dont want uploading it to the repo
.pio/
.platformio/
.vscode/

# ignoring doxygen_out, as it generate too many files.  We could improve it by compacting it somehow, or maybe using another documentation engine 
app/doxygen_out/

# do NOT ignore the files .vscode/tasks.json and .vscode/settings.json
# these are important for the development environment and will
# setup the bottom bar buttons for build, upload, etc.

