# Ignore cache folder, we dont want uploading it to the repo
.pio/
.platformio/
.vscode/

# Also ignore the doxygen output folder for now, 
# but we must copy the output somewhere visible later
doxygen_out/

# do NOT ignore the files .vscode/tasks.json and .vscode/settings.json
# these are important for the development environment and will
# setup the bottom bar buttons for build, upload, etc.

